<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <!-- Header Section-->
        <div class="contenedor-imagen">
            <img src="systems/dun/assets/fndficha_mp.png"/> 
            <input width="2" id="pv" class="pc-sheet-value" name="system.abilities.value_points" type="Number"
             value="{{system.abilities.value_points}}"/>
             <input width="2" id="mov" class="pc-sheet-value" name="system.abilities.mov" type="Number"
             value="{{system.abilities.mov}}"/>
             <input width="2" id="cc" class="pc-sheet-value" name="system.abilities.combat" type="Number"
             value="{{system.abilities.combat}}"/>
             <input width="2" id="fue" class="pc-sheet-value" name="system.abilities.strength" type="Number"
             value="{{system.abilities.strength}}"/>
             <input width="2" id="pun" class="pc-sheet-value" name="system.abilities.shooting" type="Number"
             value="{{system.abilities.shooting}}"/>
             <input width="2" id="arm" class="pc-sheet-value" name="system.abilities.armor" type="Number"
             value="{{system.abilities.armor}}"/>
             <input width="2" id="for" class="pc-sheet-value" name="system.abilities.luck" type="Number"
             value="{{system.abilities.luck}}"/>
             <input width="2" id="agi" class="pc-sheet-value" name="system.abilities.agility" type="Number"
             value="{{system.abilities.agility}}"/>
             <input width="2" id="int" class="pc-sheet-value" name="system.abilities.intelligence" type="Number"
             value="{{system.abilities.intelligence}}"/>
             <input width="2" id="mana" class="pc-sheet-value" name="system.abilities.mana" type="Number"
             value="{{system.abilities.mana}}"/>
             <input width="2" id="val" class="pc-sheet-value" name="system.abilities.courage" type="Number"
             value="{{system.abilities.courage}}"/>
             <input width="2" id="vit" class="pc-sheet-value" name="system.abilities.vitality" type="Number"
             value="{{system.abilities.vitality}}"/>
             <input width="2" id="exp" class="pc-sheet-value" name="system.abilities.experience" type="Number"
             value="{{system.abilities.experience}}"/>
             <div class="actor-icon">
                <!--<div id="fotopj" style="background-image:url('{{actor.img}}')" height="128" width="128"></div>-->
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128"/>

            </div>

            <input width="2" id="mov-temp" class="pc-sheet-value" name="system.abilities.mov-temp" type="Number"
             value="{{system.abilities.mov-temp}}"/>
             <input width="2" id="cc-temp" class="pc-sheet-value" name="system.abilities.cc-temp" type="Number"
             value="{{system.abilities.cc-temp}}"/>
             <input width="2" id="fue-temp" class="pc-sheet-value" name="system.abilities.fue-temp" type="Number"
             value="{{system.abilities.fue-temp}}"/>
        </div> 
        
    <header class="sheet-header">
        
      <!---  <div class="container"> 
           
            <div>
                <div class="actor-icon">
                    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:50%; float:left">
                <div><i class="fa-duotone fa-boot"></i>Movimiento</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:50%; float:left">
                <div><i class="fa-solid fa-rabbit-running"></i>Agilidad</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:50%; float:left">
                <div><i class="fa-solid fa-swords"></i>Cuerpo a cuerpo</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:50%; float:left">
                <div><i class="fa-solid fa-brain"></i>Inteligencia</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:50%; float:left">
                <div><i class="fa-solid fa-hand-fist"></i>Fuerza</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:50%; float:left">
                <div><i class="fa-duotone fa-fire"></i>Maná</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:50%; float:left">
                <div><i class="fa-solid fa-bullseye-arrow"></i>Puntería</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:50%; float:left">
                <div><i class="fa-solid fa-flag"></i>Valentia</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:50%; float:left">
                <div><i class="fa-duotone fa-helmet-battle"></i>Armadura</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:50%; float:left">
                <div><i class="fa-duotone fa-heart-pulse"></i>Vitalidad</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:25%; float:left">
                <div><i class="fa-solid fa-clover"></i>Fortuna</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:25%; float:left">
                <div><i class="fa-solid fa-gear"></i>Destreza</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:25%; float:left">
                <div><i class="fa-duotone fa-eye"></i>Percepcion</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:25%; float:left">
                <div><i class="fa-duotone fa-sparkles"></i>Experiencia</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:50%; float:left">
                <div><i class="fa-duotone fa-coins"></i>Monedas</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
            <div class="resource-entry flexrow" style="width:50%; float:left">
                <div><i class="fa-solid fa-weight-hanging"></i>Peso</div>
                <div>
                    <input name="system.abilities.level.value" type="Number" value="{{system.abilities.mov}}"/>
                </div>
            </div>
        </div> -->
    </header>
</form>
  
  